.socialSignin{
    margin: 0.5rem auto 0;
}

.links{
    
    width: fit-content;
    margin: 1.5rem auto 0;
    background-color: rgb(211, 189, 189);
    font-size: medium;
}

a {
    color: rgb(27, 3, 66);
}

